@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-action: #a18a69;
  --color-white: #f2f2f2;
}

.swiper-pagination {
  margin: 20px;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: white;
  padding: 6px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  padding: 8px;
}
